<%- include('partials/navbar.ejs') %>

<main>
    <div class="container">
        <h3>
            <%= book.title %>
        </h3> 
               <p> <b> Book Id: </b> <%= book.id %> </p>
               <p> <b> Author: </b> <%= book.author %> </p>
                <br>
               <h4>Summary</h4>
               <p><%= book.summary %></p>
               <br>               
               <form action="/delete/<%= book.id %>" method="post">
                   <button>Update</button>
               </form>
               <form action="/delete/<%= book.id %>" method="post">
                   <button>Delete</button>
               </form>

    </div>
    </div>



    </body>

    </html>