<%- include('partials/navbar.ejs') %>

    <div class="container">
        <h1>Books</h1>
        <br>
        <div class="search">
            <form method="post" action="/search">
                <div class="search-container">
                    <input type="text" placeholder="Search book by title" name="query" class="search-input" />
                    <button type="submit" id="search" class="add-button">Search</button>

                    <button class="add-button"><a href="/add">Add a Book</a></button>
                </div>
            </form>
        </div>
        <br>
        <div class="book-list">
            <table>
                <tr class="head-row">
                    <th>Book Id</th>
                    <th>Title</th>
                    <th>Author</th>
                </tr>
                <% for(let i=0; i<books.length; i++) { %>
                    <tr>
                        <td><a href="/books/<%= books[i].bookId %>">
                                <%= books[i].bookId %>
                            </a></td>
                        <td>
                            <%= books[i].title %>
                        </td>
                        <td>
                            <%= books[i].author %>
                        </td>
                    </tr>
                    <% } %>
                </table>
                <% if(books.length==0) { %>
                    <br>
                   <p>No Books available</p> 
                   <br>
                <% } %>
        </div>
    </div>

    </body>

    </html>